<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/square.css') }}">
    <title>正整數平方計算結果</title>
</head>
<body>
    <main>
        <section class="wrapper-content">
            <div class="msgbox">
                <div class="calculateinfo">
                    <h1>正整數平方計算結果</h1>
                    <br>
                    <p>{{answer}}</p>
                </div>
                <div class="signinpage">
                    <a href="/">回首頁</a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>